<?xml version="1.0"?>
<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/set2/set_obj4_block.obj" scale=".03 .03 .03"/>
      </geometry>
    </visual>
    <collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_0decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_1decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_2decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_3decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_4decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_5decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_6decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_7decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_8decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_9decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_10decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_11decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_12decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_13decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_14decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision><collision>
  <origin xyz="0 0 0"/>
  <geometry>
    <mesh filename="meshes/set2/set_obj4_block_15decompose.obj" scale=".03 .03 .03"/>
<!--          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>-->
  </geometry>
</collision>

<!--    <collision>-->
<!--      <origin xyz="0 0 0"/>-->
<!--      <geometry>-->
<!--        <mesh filename="meshes/set2/set_obj4_block.obj" scale=".03 .03 .03"/>-->
<!--&lt;!&ndash;          <mesh filename="meshes/custom/obj0_ball.obj" scale=".05 .05 .05"/>&ndash;&gt;-->
<!--      </geometry>-->
<!--    </collision>-->
    <inertial>
      <density value="1000.0"/>
    </inertial>
  </link>
</robot>